[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==21.4"
dotenv = "*"
selenium = "*"
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"

[scripts]
start = "python src/bot.py"
